.banner_bg {
    background: url("../images/gpjh/gj-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vedio {
    background: #000000;
    position: relative;
    min-width: 1200px;
}

.vedio_bg {
    width: 1200px;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vedio .vedio_start {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    cursor: pointer;
}

.hy_line {
    background: #000000;
    height: 108px;
    line-height: 108px;
    border-top: 1px solid #3f3f3f;
    text-align: center;
    color: #fff;
    font-size: 40px;
    min-width:1200px;
}

.hy_list {
    background: #3E3A39;
    position: relative;
}

.hy_list .hy_item {
    width: 1200px;
    margin: 0 auto;
}

.hy_list .hy_item .hy_item_left {
    float: left;
}

.hy_list .hy_item .hy_item_right {
    float: right;
}

.hy_list .hy_item img {
    width: 100%;
}

.w60 {
    width: 60%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.h283 {
    height: 283px;
}

.h500 {
    height: 500px;
}

.bg161010 {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
}

.zd {
    background: url("../images/gpjh/gj-03@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.fw {
    background: url("../images/gpjh/gj-01@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.xl {
    background: url("../images/gpjh/gj-02@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.pp {
    background: url("../images/gpjh/gj-04@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.sj {
    background: url("../images/gpjh/gj-05@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.pz {
    background: url("../images/gpjh/gj-07@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.gg {
    background: url("../images/gpjh/gj-06@2x.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}

.hy_shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.hy_text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 18px;
}

.hy_text .title {
    font-size: 25px;
}

.img_view {
    width: 550px;
    position: absolute;
    left: 50%;
    top: 190px;
    margin-left: -225px;
    color: #000000;
}

.img_view img {
    width: 550px;
}

.img_view .text {
    position: absolute;
    top: 10px;
    left: 10px;
}

.img_view .text .title {
    font-size: 30px;
    line-height: 36px;
}

.img_view .text .sub {
    font-size: 22px;
    line-height: 28px;
}

@media (max-width: 1080px) {
    .vedio_bg, .img_view, .hy_list .hy_item, .img_view img {
        width: 100%;
    }

    .img_view {
        left: 0;
        margin-left: 0;
    }
    .hy_line{
        min-width: inherit;
    }
    .vedio{
        min-width: inherit;
    }
}