.banner_bg {
    background: url("../images/qxq/zh-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg2 {
    background: url("../images/qxq/zh-02.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_shadow_text h2, h3, h4 {
    font-weight: normal;
}

.banner_shadow_text h2 {
    font-size: 59px;
}

.banner_shadow_text p {
    margin-bottom: 10px;
    font-size: 40px;
    color: #fff;
}

/*横向时间轴*/
.time-horizontal {
    list-style-type: none;
    border-top: 1px solid #ccc;
    max-width: 1200px;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.time-horizontal li {
    float: left;
    position: relative;
    text-align: center;
    /*width: 171px;*/
    padding-top: 10px;
}

.time-horizontal li b:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #ccc;
}

.time-horizontal li .text {
    display: block;
    position: absolute;
    left: 0;
}

.time-horizontal li .time {
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
}

.sl {
    /*width:172px;*/
}

.sl b.sl_dot_o:before {
    left: 33.33%;
}

.sl b.sl_dot_t:before {
    left: 66.66%;
}

.sl b.sl_dot_th:before {
    left: 100%;
}

.time-horizontal li.active {
    color: #F19EC2;
}

.time-horizontal li.active b:before {
    background: #F19EC2;
    border: 2px solid #F19EC2;
}

.time_line {
    width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
}

.content_img {
    margin: 0 auto;
}
.content_img2 {
}
.content_img .content_img_top img {
    width: 100%;
}

.content_img .content_img_bottom img:nth-child(1) {
    width: 60%;
    margin-top: 10px;
    float: left;
}

.content_img .content_img_bottom img:nth-child(2) {
    width: calc(40% - 10px);
    margin-top: 10px;
    margin-left: 10px;
    /*float: left;*/
    clear: both;
    margin-bottom: 50px;
}

.dialog .content p {
    clear: both;
}

.content_img > img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.w60 {
    width: 60% !important;
}

.w40 {
    width: calc(40% - 10px) !important;
}

.ml10 {
    margin-left: 10px;
}

@media (max-width: 1080px) {
    .time_line {
        width: 95%;
    }
    .fl{
        float: left;
    }
}
.f18{ font-size: 18px !important;}
.dialog {width: 1000px !important;margin-left: -500px !important;}
.text_c{ margin: 0 auto; font-size: 18px; padding-top: 20px; padding-bottom: 50px;}
.dialog .content {padding: 50px !important;}.w550{width: 550px;}