.banner_bg1 {
    background: url("../../images/product/cp-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg2 {
    background: url("../../images/product/cp-02.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg3 {
    background: url("../../images/product/cp-03.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg6 {
    background: url("../../images/product/cp-06.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg11 {
    background: url("../../images/product/cp-10.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg13 {
    background: url("../../images/product/cp-13.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg18 {
    background: url("../../images/product/cp-18.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product_list {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.product_list .product_item {
    /*margin-top: 30px;*/
    /*height: 500px;*/
    position: relative;
}

.product_item .product_desc {
    width: 200px;
    overflow: hidden;
}

.product_list .product_item img {
    width: 1200px;
    /*height: 500px;*/
}

.img_left, .img_right {
    width: 1000px;
    height: 650px !important;
    margin: 0 auto;
    position: relative;
}

.img_left img, .img_right img {
    width: 650px !important;
    height: 640px;
}

.product_desc .product_color {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}

.product_desc .product_title {
    line-height: 35px;
    font-size:24px;
}

.img_left img {
    position: absolute;
    left: 0px;
}

.img_left .product_desc {
    position: absolute;
    right: 0px;
    bottom: 100px;
}

.img_right img {
    position: absolute;
    right: 0px;
}

.img_right .product_desc {
    position: absolute;
    left: 0px;
    bottom: 100px;
}

.bg_white {
    background: #F7F7F7;
}

.bg_yellow {
    background: #F4CE2D;
}

.product_division {
    background: #B5B5B5;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 100px;
    color: #919191;
    margin-top: 100px;
    margin-bottom: 50px;
}

.product_ps_list {
    margin-bottom: 30px;
    overflow: hidden;
}

.product_ps_item {
    width: 33.33%;
    float: left;
    text-align: center;
}

.product_item .product_ps_item img {
    width: 200px;
    height: 150px;
}

.product_ps_title {
    text-align: center;
}

.product_xl {
    background: #7F7F7F;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.banner_carousel {
    position: relative;
    height: 650px;
    overflow: hidden;
    background: url(../../images/index/loading.gif) 50% no-repeat;
    top: 70px;
    margin-bottom: 70px;
}

.tc {
    text-align: center;
}

.product_banner {
    position: absolute;
    font-weight: 100;
}

.text_left {
    left: 25%;
    top: 50%;
    margin-top: -100px;
}

.text_left_bottom {
    left: 10%;
    bottom: 200px;
}

.text_right_bottom {
    right: 10%;
    bottom: 200px;
}

.text_right {
    right: 25%;
    top: 50%;
    margin-top: -100px;
}

.text_center {
    left: 50%;
    top: 100px;
    margin-left: -100px;
}

.product_banner .title {
    font-size: 32px;
}

.product_banner .desc {
    font-size: 24px;
}

.fw {
    color: #fff;
}

.fb {
    color: #000;
}

.product_params {
    border: 0px;
    margin: 0 auto;
    width: 80%;
    border-spacing: 0;
}

.product_params td {
    height: 30px;
    text-align: center;
    font-size:16px;
}

.product_params tr:nth-child(even), .product_params thead tr {
    background: #DDDDDD;
}

.product_small {
    height: 100px !important;
}

.product_small img {
    height: 100px !important;
}

.product_params_sm {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
    width: 80%;
    border-spacing: 0;
}

.product_params_sm td {
    border: 1px solid #000000;
    text-align: center;
    font-size:16px;
}

@media (max-width: 767px) {
    .product_list {
        width: 90%;
    }

    .product_item .product_desc {
        width: 20%;
        overflow: hidden;
    }

    .product_list .product_item img {
        width: 95%;
    }

    .product_ps_item {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .product_division {
        padding: 0px;
        text-align: center;
    }

    .product_banner {
        /*width: 300px;*/
        /*margin: 0 auto;*/
        text-align: center;
    }

    .text_left, .text_right, .text_left_bottom, .text_right_bottom, text_center {
        /*left: 50%;*/
        /*top: 50%;*/
        /*margin-left: -150px;*/
        margin-top: -150px;
    }

    .product_banner .title {
        font-size: 24px;
    }

    .product_banner .desc {
        font-size: 18px;
    }
}