.card_list{
    margin-top: 100px;
    overflow: hidden;
 }
.card_item{
    width:600px;
    margin: 0 auto 30px;
    overflow: hidden;
}
.card{
    width:300px;
    height:300px;
    /*margin-top:50px;*/
    /*margin-bottom: 50px;*/
}
.card img{
    width:100%;
}
.card_content .title{
    padding-top:5px;
    padding-bottom: 5px;
}

.banner{
    height:700px;
    width:100%;
    background: url("../../images/index/mian-01.jpg");
    position: relative;
    top:70px;
}
.banner_shadow{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    background: rgba(0,0,0,0.5);
    z-index:10;
}
.banner_shadow_text{
    width: 400px;
    height:500px;
    color:#fff;
    font-size:24px;
    position: absolute;
    top:50px;
    left:50%;
    margin-left:-150px;
    text-align: center;
}