.banner_bg{
    background: url("../../images/aima_philosophy/zs-main-01.jpg") no-repeat center center;
    background-size:cover;
}
.banner_shadow_text{
    width: 600px;
    height:800px;
    color:#fff;
    position: absolute;
    top:50px;
    left:50%;
    margin-left:-200px;
    text-align: center;
    margin-top:0px !important;
}
.banner_shadow_text h2,h3,h4{
    font-weight: normal;
}
.banner_shadow_text h4{
    margin-bottom:36px;
}
.banner_shadow_text h2{
    font-size:59px;
	margin-bottom:36px;
}
.banner_shadow_text p{
    margin-bottom: 36px;
    font-size:18px;
    color: #fff;
    line-height: 28px;
}
.qianming{
    background: url("../../images/aima_philosophy/qm@2x.png") no-repeat center center;
    background-size: contain;
    width:100px;
    height:65px;
    position: absolute;
    bottom:50px;
    left:600px;
}
.ct{
    height:70px;
    margin-bottom: 36px;
}