.banner_bg{
    background: url("../../images/aima_philosophy/zs-main-h-01.jpg") no-repeat center center;
}
.banner_shadow_text{
    width: 400px;
    height:500px;
    color:#fff;
    font-size:24px;
    position: absolute;
    top:50px;
    left:50%;
    margin-left:-150px;
    text-align: center;
    margin-top:0px;
}
.banner_shadow_text h2,h3,h4{
    font-weight: normal;
}
.banner_shadow_text h2{
    font-size:32px;
}
.banner_shadow_text p{
    margin-bottom: 10px;
    font-size:16px;
    color: #C7C5C3;
}
.qianming{
    background: url("../../images/aima_philosophy/qm@2x.png") no-repeat center center;
    background-size: contain;
    width:100px;
    height:65px;
    position: absolute;
    bottom:-50px;
    left:500px;
}