.banner_bg {
    background: url("../../images/aima_philosophy/main-h-01.jpg") no-repeat center center;
}

.banner_shadow_text {
    margin-left: -235px;
}

.banner_shadow_text .cn {
    font-size: 59px;
    font-weight: 200;
}

.banner_shadow_text .en {
    font-size: 50px;
}

.card_content.text_right {
    position: absolute;
    bottom: 0px;
    left: 600px;
    width: 550px;
    margin-left: 50px;
}
.w550{
    width:550px;
}
@media (max-width: 1080px) {
    .card_content.text_right {
        position: static;
        margin-left: 0px;
    }
    .w550{
        width: auto;
    }
}