.banner_bg{
    background: url("../../images/aima_philosophy/zs-main-02.jpg") no-repeat center center;
}
.banner_shadow_text .cn {
    font-size: 59px;
}

.banner_shadow_text .en {
    font-size: 40px;
}