.banner_bg1 {
    background: url("../../images/service/fw-08.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg2 {
    background: url("../../images/service/fw-03.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg3 {
    background: url("../../images/service/fw-04.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg {
    background: url("../../images/service/main-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg4 {
    background: url("../../images/service/main-h-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg6 {
    background: url("../../images/service/map.jpg") no-repeat center center;
    background-size: 1500px auto !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 1350px;
}

.banner_bg7 {
    background: url("../../images/service/fw-02.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.service_tel {
    font-size: 16px;
    color: #DE9CB7;
}

.banner_shadow_text {
    margin-top: -300px;
    text-align: left;
    margin-left: -200px;
}

.banner_shadow_text .en {
    font-size: 40px;
}

.banner_shadow_text .cn {
    font-size: 59px;
}

.banner_shadow_text p {
    padding: 5px;
    font-size: 16px;
}

.banner_shadow_text input {
    width: 405px;
    height: 90px;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    font-size: 26px;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

.product_q_info {
    background: rgba(255, 255, 255, 1);
    color: #fff;
    padding: 50px 20px 30px 20px;
    width: 590px;
    box-sizing: border-box;
    margin: 20px 0px;
}

.product_q_info td {
    height: 100px;
    font-size: 22px;
    vertical-align: text-top;
}

.cn .iconfont {
    font-size: 24px;
}

.cn.pl30, .pink.pl30 {
    padding-left: 45px;
}

.pink a.cns {
    font-size: 27px;
}

.pink a.ens {
    font-size: 18px;
}

.banner_text {
    width: 1000px;
    margin-left: -500px;
    text-align: center;
}

.supplier_list {
    width: 1200px;
    /* margin-left: 100px; */
    margin: 0 auto;
    /*padding-left: 100px;*/
    position: relative;
}

.supplier_item {
    margin-top: 45px;
    font-size: 16px;
    line-height: 37px;
    /*margin: 0 75px;*/

}

.supplier_item .title {
    font-size: 18px;

}

.supplier_item select {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 150px;
}

.supplier_item span {
    /*display: inline-block;*/
}

.supplier_item .select_area {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    position: relative;
    left: 10px;
    font-size: 18px;

}

.supplier_item .select_area i {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.supplier_map {
    position: absolute;
    right: 0px;
    top: 180px;
    width: 600px;

}

.supplier_map img {
    width: 100%;
}

.tc {
    text-align: center !important;
}

.after_sales_list .title {
    text-align: center;
    font-size: 26px;
}

.after_salves_item {
    background: #F7F8F8;
    margin: 0 auto;
    width: 1200px;
    margin-top: 20px;
}

/*.after_salves_item:hover {*/
    /*background: #EFEFEF;*/
/*}*/

.after_salves_item table {
    width: 100%;
}

.after_salves_item table td {
    text-align: left;
    height: 40px;
    font-size: 16px;
    padding: 20px;
}

.after_salves_item table td.tc {
    font-size: 18px;
}

.after_salves_item table td img {
    width: 80px;
}

@media (max-width: 1080px) {
    .banner_shadow_text {
        text-align: center;
        margin-left: 0px;
    }

    .banner_text {
        width: 90%;
        margin-left: 5%;
    }

    .supplier_list {
        width: 90%;
        margin-left: 5%;
    }

    .supplier_item span {
        display: block;
    }

    .supplier_item select {
        display: block;
        margin-top: 10px;
    }

    .supplier_map {
        position: static;
        width: 90%;
    }

    .supplier_map img {
        width: 100%;
    }

    .after_salves_item {
        width: 90%;
    }

    .china_map {
        display: none;
    }
}

.f35 {
    font-size: 35px !important;
}

.f40 {
    font-size: 40px !important;
}

.f50 {
    font-size: 50px !important;
}

.f26 {
    font-size: 26px !important;
}

.f18 {
    font-size: 18px !important;
}

.lh40 {
    line-height: 40px;
}

.tl {
    text-align: center;
}

.mtd40 {
    margin: 40px 0px;
}

.mt30 {
    margin-top: 30px;
}

.f24 {
    font-size: 24px !important;
}

.f14 {
    font-size: 14px !important;
}

.f20 {
    font-size: 20px !important;
}

.pd20 {
    padding-bottom: 20px;
}

.banner_shadow2 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.80);
    z-index: 10;
    height: 1059px;
}

.china_map {
    width: 689px;
    position: absolute;
    top: -864px;
    right: 130px;
    z-index: 11;
}

.banner_shadow_text {
    top: 60% !important;
}

.dialog p {
    font-size: 24px;
    padding-bottom: 20px;
}

.yans {
    color: #F09EC1;
}

.tsjt {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -100px;
    background: url("../../images/common/arrow-l-h.png") no-repeat center;
    background-size: cover;
    color: #fff;
    cursor: pointer;
}

.tsjt div {
    position: absolute;
    left: -60px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.tsjt4 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 120px;
    background: url("../../images/common/arrow-r-h.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}