.banner_bg1 {
    background: url("../../images/service/fw-08.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg2 {
    background: url("../../images/service/fw-03.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner_bg {
    background: url("../../images/service/main-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.service_tel{
    font-size:16px;
    color:#DE9CB7;
}

.banner_shadow_text{
    margin-top: -200px;
    text-align: left;
    font-weight: 100;
}
.banner_shadow_text p{
    padding:5px;
}
.banner_shadow_text input{
    width:200px;
    height: 30px;
    padding:10px;
    border: none;
    background: rgba(255,255,255,0.5);
}
::-webkit-input-placeholder {
    color: #ffffff;
}
.product_q_info{
    background: rgba(255,255,255,0.85);
    color:#fff;
    padding:10px;
}
.product_q_info td{
    height:60px;
}
.cn .iconfont{
    font-size:24px;
}
.cn.pl30,.pink.pl30{
    padding-left:30px;
}
@media (max-width: 1080px){
    .banner_shadow_text{
        text-align: center;
    }
}
