.banner_bg {
    background: url("../../images/service/fw-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pink{
    color:#F599C1;
    font-size:16px;
}
.ml-260{
    margin-left: -230px;
}
.per_text{
    width:400px;
    position: absolute;
    bottom: 0;
    left:0px;
}

@media (max-width: 1080px) {
    .per_text{
        width:100%;
        position: static;
        margin-bottom: 20px;
    }
}