.banner_bg {
    background: url("../../images/service/fw-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ml-260{
    margin-left: -230px;
}
.per_text{
    width:400px;
    position: absolute;
    bottom: 0;
    left:0px;
}

.card_item_l{
    float:left;
    width:50%;
}
.card_item_r{
    float:right;
    width:50%;
}
.mb50{
    margin-bottom: 50px;
}

.card_item_l img,.card_item_r img{
    width:90%;
}

@media (max-width: 1080px) {
    .per_text{
        width:100%;
        position: static;
        margin-bottom: 20px;
    }
}